body {
    background-color: black;
    /* background-image: url(https://a4.espncdn.com/combiner/i?img=%2Fi%2Fespn%2Fmisc_logos%2F500%2Fnba.png); */
    /* background-size: cover; */
}

h1 {
    color: white;
    text-align: center;
    font-family:sans-serif;
    font-size: 50px;
}

#player-list {
    color: white;
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#player-stats {
    color: white;
}

#team-entry {
    color: white;
    
}